# to enable this proxy service set the following environment variables
# either via docker-compose.yml or the Balena Application Dashboard
#
#  [NZBHYDRA_HOST]
#   public domain or subdomain with dns A records pointing to your server or firewall
#   example: nzbhydra.example.com
#
#  [NZBHYDRA_SERVER]
#   internal http server url to receive proxied traffic
#   example: http://192.168.8.64:5076
#
[http]

[http.routers]

[http.routers.to-nzbhydra]
rule = "Host(`$NZBHYDRA_HOST`)"
service = "nzbhydra"
middlewares = ["hsts-header","ip-allowlist"]

[http.routers.to-nzbhydra.tls]
certresolver = "$CERTRESOLVER"

[http.services]

[http.services.nzbhydra.loadBalancer]

[[http.services.nzbhydra.loadBalancer.servers]]
url = "$NZBHYDRA_SERVER"
