# to enable this proxy service set the following environment variables
# either via docker-compose.yml or the Balena Application Dashboard
#
#  [OMBI_HOST]
#   public domain or subdomain with dns A records pointing to your server or firewall
#   example: requests.example.com
#
#  [OMBI_SERVER]
#   internal http server url to receive proxied traffic
#   example: http://192.168.8.64:3579
#
[http]

[http.routers]

[http.routers.to-ombi]
rule = "Host(`$OMBI_HOST`)"
service = "ombi"
middlewares = ["hsts-header"]

[http.routers.to-ombi.tls]
certresolver = "$CERTRESOLVER"

[http.services]

[http.services.ombi.loadBalancer]

[[http.services.ombi.loadBalancer.servers]]
url = "$OMBI_SERVER"
